<!doctype html>
<html lang="en">
  <body>
    <nav class="navbar bg-body-tertiary bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand mx-0">Super Market</a>
          <div class="d-flex text-light">
                <p>This is for location</p>
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2 input-sm" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="lang" onmouseover=document.getElementById('lang').click(); onmouseout=document.getElementById('lang').click();>
              EN
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">EN</a></li>
              <li><a class="dropdown-item" href="#">HI</a></li>
              <li><a class="dropdown-item" href="#">KA</a></li>
            </ul>
          </div>
          
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="hello" onmouseover=document.getElementById('hello').click(); onmouseout=document.getElementById('hello').click()>
              <small class="text-left">Hello, signin</small><br/> Account & List
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <button class="btn btn-secondary dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <small>Returns</small><br/> & Orders
          </button>
          
          <div class="d-flex flex-row mt-1 mx-2">
              <div class=" mb-auto rounded-top">
                <p class="text-danger fw-bold bg-dark px-0" style="position: absolute">0</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bag text-light" viewBox="0 0 16 16">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg>
            </div>
        <p class="text-white fs-5 mt-1">Cart</p>
        </div>
        
        </div>
      </nav>
  </body>
</html>