{% include "../header_footers/headers.html" %}
{% include "homepage/navbar.html" %}
{% load static %}
<div class="text-center">
    <p class="fw-bold mt-3 text-decoration-underline" style="font-size:40px">About</p>
</div>
<div style="padding-left:16.9rem;padding-bottom:4rem;">
<div class="card mx-5" style="width: 55.2rem;padding-bottom:0.8rem">
    <img class="card-img-top" src="{% static 'images/aboutpage.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sample Information</h5>
      <p class="card-text">This is one of the replica of the famous ecommerce website which i am developing.</p>
      <a href="#" class="card-link text-decoration-none text-black">Read more</a>
    </div>
  </div>
</div>

<div class="flex" style="position: absolute; top: 11.57rem; left: 30px;">
    <div class="card border-secondary" style="max-width: 18rem;padding-bottom:1rem">
        <div class="card-header">NEWS FEED</div>
            <div class="card-body text-primary">
                <h5 class="card-title">Working with Django</h5>
                <p class="card-text">Still i need time to complete the code once its done i will change these text with proper examples.</p>
            </div>
      </div>
      <div class="card border-secondary border-top-0" style="max-width: 18rem;padding-bottom:1rem">
        <div class="card-body text-secondary">
          <h5 class="card-title">Hard coded 1</h5>
          <p class="card-text">These all messages are currently hard coded in the future will replace with the api data.</p>
        </div>
      </div>

      <div class="card border-secondary border-top-0" style="max-width: 18rem;padding-bottom:1rem">
        <div class="card-body text-secondary">
          <h5 class="card-title">Hard coded 2</h5>
          <p class="card-text">These all messages are currently hard coded in the future will replace with the api data.</p>
        </div>
      </div>
      <div class="card border-secondary mb-3 border-top-0" style="max-width: 18rem;padding-bottom:0">
        <div class="card-body text-secondary">
          <h5 class="card-title">Hard coded</h5>
          <p class="card-text">These all messages are currently hard coded in the future will replace with the api data.</p>
        </div>
      </div>
    </div>

    <div class="flex" style="position: absolute; top: 11.57rem; right: 30px;">
        <div class="card border-secondary" style="max-width: 18rem;padding-bottom:1rem">
            <div class="card-header">TOP STORIES</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Working with Django</h5>
                    <p class="card-text">Still i need time to complete the code once its done i will change these text with proper examples.</p>
                </div>
          </div>
          <div class="card border-secondary border-top-0" style="max-width: 18rem;padding-bottom:1rem">
            <div class="card-body text-secondary">
              <h5 class="card-title">Hard coded 1</h5>
              <p class="card-text">These all messages are currently hard coded in the future will replace with the api data.</p>
            </div>
          </div>
    
          <div class="card border-secondary border-top-0" style="max-width: 18rem;padding-bottom:1rem">
            <div class="card-body text-secondary">
              <h5 class="card-title">Hard coded 2</h5>
              <p class="card-text">These all messages are currently hard coded in the future will replace with the api data.</p>
            </div>
          </div>
          <div class="card border-secondary mb-3 border-top-0" style="max-width: 18rem;padding-bottom:0rem">
            <div class="card-body text-secondary">
              <h5 class="card-title">Hard coded</h5>
              <p class="card-text">These all messages are currently hard coded in the future will replace with the api data.</p>
            </div>
          </div>
        </div>
    {% include "./offers1.html" %}
    {% include "../header_footers/footer.html" %}
