<div class="row row-cols-1 row-cols-md-4 g-4 mx-2 mb-5">
    {% for card in cardData %}  
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{card}}</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div> 