{% include "../header_footers/headers.html" %}
{% load static %} 
<script src="{% static 'js/myscrypts.js' %}" type="text/javascript"></script> 
<div>
    <h1 class="text-center">SuperMarket</h1>
    <a onclick="goHome()"> <- Home</a>

    <div class="card" style="margin-left:38%; margin-right:38%; margin-top:5vh;margin-top: 10vh">
        <div class="card-body px-4">
            <h4 class="card-title">Sign In</h4>
            
            <form class="form" action="../login/" method="post">
                {% if error %}
                    <div>
                        <p style="color:red">{{error}}</p>
                    </div>
                {% endif %}
                <label class="form-label fw-bold">Email or mobile number</label><input class="form-control" type="text" name="username" style="border-radius: 15px;" /><br/>
                {% csrf_token %}
                <label class="form-label fw-bold">Password</label><input type="password" name="password" class="form-control" style="border-radius: 15px;" />
                <input type="submit" class="btn btn-primary w-100" style="border-radius: 25px; margin-top: 7%">
            </form>
            <a href="../forget/">Forget password?</a>
          </div>

    </div>
    <div class="text-center mt-3">
        <p>----------------- New to SuperMarket? ----------------</p>
    </div>
    <div class="text-center pb-3" style="margin-left:38vw;margin-right:38vw">
        <button class="w-100 btn btn-light btn-outline-dark fw-bold" style="font-size: 13px;border-radius: 10px;" onclick="navBar('Signup')">Create your SuperMarket account</button>
    </div>
    <hr />
    <div class="text-center">
        <p style="font-size: 12px">&#169; 2023-24, Shashank RP</p>
    </div>
</div>