
<ul class="nav bg-secondary d-flex flex-wrap nav-fill">
    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="#">miniTV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="#">Sell</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">Best Sellers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">Mobiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">Today's Deals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">New Releases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">Customer Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">Prime</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">Electronics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">Fashion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="#">Home & Kitchen</a>
      </li>

      <li class="nav-item d-flex">
        <a class="nav-link text-white" aria-current="page" href="#">Shopping made easy | Download the app</a>
      </li>
  </ul>
